body{
  font-family: "Plus Jakarta Sans", serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
  }

  .container{
    flex: 1 !important;
  }


/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.navbar-brand img {
    margin-left: 0; /* पूर्ण डावीकडे ठेवेल */
    width: 70px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}


.nav-link{
    color: #222222 !important;
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links,.f-info-social,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.f-info-social i {
margin-right: 0.5rem;
font-size: 1.3rem;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}

.f-info{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        height: 8rem;
        justify-content: center;
        align-items:space-evenly;
        background-color: #ebebeb;
}

/* Card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0rem !important;
}

.card-text{
    font-weight: 400 !important;

}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color:#C70039 !important;
    border: none !important;
}

.newHeading
{
    color: #C70039;
    letter-spacing: 2px;
   
    font-weight: 530;
    margin-bottom: 20px !important;
}

/* Edit Page */
.edit-btn{
    background-color: #C70039 !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 50vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right : 0;
}

/* Map */
#map {
     height: 400px;
     width: 80vh;
    }